.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 4fr 0.75fr;
    grid-template-areas: 
    "one three three"
    "two three three"
    "four four four";
    background-color: gray;
    height: 100vh;
    margin: auto;
  }

  header {
    background-color: red;
    grid-area: one;
  }

  .left {
    background-color: blue;
    grid-area: two;
  }

  main {
    background-color: green;
    grid-area: three;
  }

  footer {
    background-color: yellow;
    grid-area: four;
  }

  .deck {
    background-position-x: center;
    background-position-y: center;
    width: 113px;
    height: 157px;
    border: solid 1px black;
    background-color: white;
  }

  .deck-back{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

  h1, h2, h3 {
    font-size: 1rem;
  }

  input[type="text"] {
    width: 75%;
}