.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 0.75fr 4fr 0.75fr;
    grid-template-areas: 
    "one one one"
    "two two two"
    "three three three";
    background-color: gray;
    height: 100vh;
    margin: auto;
  }

  header {
    background-color: red;
    grid-area: one;
  }

  main {
    background-color: green;
    grid-area: two;
  }

  footer {
    background-color: yellow;
    grid-area: three;
  }

  .deck {
    background-position-x: center;
    background-position-y: center;
    width: 226px;
    height: 314px;
    border: solid 1px black;
    background-color: white;
  }

  